.ex-1-square:hover{
    background-color: red;
    transition: background-color 5s;
}
.ex-1-square{
    background-color: none;
    transition: background-color 5s;
}
.ex-2-square:active{
    width: 100%;
    transition: width 3s;
}
.ex-3-square:hover{
    border-radius: 100%;
    transition: border-radius 3s;
}
.ex-4-square:hover{
    opacity: 0;
    transition: opacity 3s;
}
.ex-5-square:hover{
    width: 80px;
    transition: width 3s;
}
.ex-5-square:active{
    width: 50px;
    transition: width 3s;
}
.ex-6-img:hover{
    filter: grayscale(1);
    transition: 6s;
   
}
.ex-8-img:hover{
    filter: grayscale(1);
    border-radius: 20px;
    transition: all 2s;
}  
.ex--square:active{

    transition:  3s;
}
.ex-9-img:hover{
    filter: grayscale(1);
    border-radius: 20px;
    scale: 0.5;
    transition: all 2s;
} 
.ex-9-img{
    transition: 2s;
}
.ex-10-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
}
.ex-11-icon:hover {
    animation: spin3-4 1s linear;
}
@keyframes spin3-4 {
    0% {
        transform: rotate(0);
    }
    70% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0);
    }
}
.ex-12-button:hover ex-12-top-white{
    animation: w-move-t linear;
  

}
.ex-12-button:hover ex-12-bottom-white{
    animation: w-move-b linear;
    
}
@keyframes w-move-t {
    0% {
        top: -10px;
        left: 10%;
    }
    50% {
        left: -30%
    }
}